#footer{
    background-color: rgb(243, 243, 243);
    a{
        color: #000;
    }
    a:hover{
        color:$base-color;
        text-decoration: none;
    }
    ul{
        list-style: none;
        padding: 0;
    }
    .social-media{
        display: flex;
    }
    .social-media li{
        width: 36px;
        height: 36px;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#fff;
        text-align: center;
        border-radius: 50%;
        border: 1px solid rgb(201, 201, 201);
        margin: 3px;
        transition: .3s ease;
    }
    .social-media li:hover{
        color: #fff;
        background-color: rgb(65, 142, 165);
    }
}