#footer{
    background-color: rgb(243, 243, 243);
    h4{
        font-family: nunito, sans-serif;
        font-weight: 900;
        font-size: 19px;
    }
    a{
        color: #000;
    }
    a:hover{
        color:$base-color;
        text-decoration: none;
    }
    ul{
        list-style: none;
        padding: 0;
    }
    .social-media{
        display: flex;
    }
    .social-media li{
        width: 36px;
        height: 36px;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#fff;
        text-align: center;
        border-radius: 50%;
        border: 1px solid rgb(201, 201, 201);
        margin: 3px;
        transition: .3s ease;
    }
    .social-media li:hover{
        color: #fff;
        background-color: rgb(65, 142, 165);
    }
    .ScrollToTop
{
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    pointer-events: none;
    right: 40px;
    width: 42px;
    height: 42px;
    bottom: 70px;
    z-index: 900;
    text-decoration: none;
    border-radius: 50%;
    background-color: rgb(231, 231, 231);
    opacity: 0;
    transition:  all .3s;
    i{
        font-size: 24px;
        color: black;
        text-align: center;
    }
}
#footer .ScrollToTop:hover {
    border: 1px solid #000;
}
.ScrollToTop.active
{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
}