#loader{
    background: white url('/assets/img/loader.gif') no-repeat center center;
    background-size: 30%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

.navbar-brand{
    height: 80px;
    margin-top: -30px;
}

.searchbar{
    padding-top: 20px;
    padding-left: 10px;

    .search{
        width: 420px;
        height: 40px;
        border: 1px solid rgb(0, 157, 224);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
        padding: 10px;
        /* width: 478px !important; */
    }
    .search-btn{
        border: 1px solid rgb(0, 157, 224);
        background: rgb(0, 157, 224);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100px;
        height: 40px;
        i{
            color: white;
        }
    }
    .search-btn:hover{
        background: rgb(0, 105, 150);
    }
}
