#loader{
    background: #fff url('/assets/img/loader.gif') no-repeat center center;
    background-size: 30%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
}
#header{    
    background-color: transparent;
    z-index: 10;
    .navbar-toggler{
        border: none;
        font-size: 40px;
    }
    .navbar-brand{
        display: flex;
        height: 80px;
        margin-top: -30px;
        padding: 0;
    }
    .nav-link{
        cursor: pointer;
        color: rgb(71, 71, 71);
        margin: 5px;
        padding:1px 3px ;
    }
    .login-btn{
        border: 1px solid transparent;
    
    }
    .register-btn{
        border: 1px solid gray;
    }
    .searchbar{
        margin-left: 170px;
        .search{
            width: 250px;
            height: 40px;
            border: 1px solid $base-color;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            text-align: center;
            padding: 10px;
            display: flex;
            justify-content: center;
            input{
                color: $base-color;
                text-align: center;
                border: none;
                height: 35px;
                width: 240px;
                border: 1px solid gray;
                padding: 8px;
            }
        }
        .search-btn{
            border: 1px solid $base-color;
            background:$base-color;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 50px;
            height: 40px;
            i{
                color: white;
            }
        }
        .search-btn:hover{
            background: $base-color;
        }
    }
    .basket{
        .btn{
            border: none;
            position: relative;
            z-index: 0;
            user-select: none;
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            font-feature-settings: "kern";
            -webkit-font-smoothing: antialiased;
            font-size: 1rem;
            line-height: 1.5rem;
            font-style: normal;
            font-stretch: normal;
            text-transform: none;
            font-weight: 700;
            width: 100%;
            max-width: 100%;
            cursor: pointer;
            padding: 0px 1rem;
            min-height: 3.375rem;
            border-radius: 0.5rem;
            background: $base-color;
            color: rgb(255, 255, 255);
            .badge{
                color: $base-color;
                margin: 0 5px;
            }
        
        }
        .modal-body{
            .card{
                border: 0;
                .row{
                    align-items: center;
                    .count{
                        border: 2px solid rgba(206, 206, 206, 0.767);
                        border-radius: 5px;
                        width: 30px;
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        color:$base-color;
                    }
                    span{
                        color:$base-color;
                    }
                }
            }
        }
        .button-content{
            width: 100%;
            .col-11{
                align-items: center;
                justify-content: center;
                display: flex;
                span{
                    padding: 0 10px;
                }
            }
        }
    }
}
