.container{
    .row{
        .col-lg-12{
            .filter{
                margin: 10px 0;
                display: flex;
                justify-content: center;
                a{
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 15px;
                    letter-spacing: 1px;
                    display: inline-block;
                    padding: 12px 10px;
                    border-radius: 50px;
                    transition: 0.5s;
                    line-height: 1;
                    margin: 0 10px;
                    -webkit-animation-delay: 0.8s;
                    animation-delay: 0.8s;
                    color: rgb(129, 129, 129);
                }
                a:hover{
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                }
            }
        }
    }
}