#category{
    .col-lg-12{
        padding: 0 5px;
        a{
            text-decoration: none;
            .card{
                height: 250px;
                overflow: hidden;
                transition: 0.5s;     
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
            .card:hover img{
                transition: 0.5s;            
                transform: scale(1.1);
            }
            h3{
                font-size: 24px;
                padding: 15px 0;
                color: #000;
            }
        }
        .owl-nav{
            display: flex;
            justify-content: end;
            font-size: 18px;
            span{
                font-size: 40px;
            }
        }
    }
}