#hero{
    padding: 20px 0;
    .owl-nav{
        span{
            font-size: 40px;
        }
    }
    .slide-one{
        .item{
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            .imgArea{
                overflow: hidden;
                transition: 0.5s;
    
            }
            .imgArea:hover img{
                transition: 0.5s;            
                transform: scale(1.1);
            }
            .card-body{
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 100%;
            }
        }
    }
}