#restaurants{
    padding: 20px 0;
    h1{
        font-weight: 700;
    }
    .col-lg-4{
        padding: 0 8px;
        a{
            text-decoration: none;
            color: #000;
            .card{
                height: 300px;
                border-radius: 15px;
                background-position: center;
                position: relative;
                overflow-y: hidden;
                .imgArea{
                    transition: 0.5s;
                    height: 200px !important;
                overflow: hidden;
                    img{
                        border-radius: 15px 15px 0 0;
                        width: 100%;
                    }
                }
                .imgArea:hover img{
                    transition: 0.5s;            
                    transform: scale(1.1);
                }
                .card-body{
                    overflow-y: hidden;
                    height: 50px;
                    border: 6px solid transparent;
                    h3{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}