#resHero{
    height: 500px;
    z-index: -1;
    position: relative;
    .container{
        height: 100% ;
        width: 100%; 
        .row{
        height: 100% ;
            .hero-area{
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items:flex-start;
                z-index: 1;
                h1{
                    font-size: 5.5rem;
                    font-family: nunito, sans-serif;
                    font-weight: 900;
                }
                p{
                    font-size: 2rem;
                    font-family: nunito, sans-serif;
                }
            };
        }
    }
}
#resHero::before{
    content: "";
    background: rgba(0, 0, 0, 0.219);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}