#products{
    .cardCategory{
        padding-top: 48px;
        position: -webkit-sticky;
        position: sticky;
        z-index: 999;
        ul{
            position: sticky !important;
            margin-top: 15px;
            list-style: none;
            a{
                color:rgba(0, 0, 0, 0.644);
                padding: 8px 0;
            }
        }
    }
    .categoryName{
        padding-top: 48px;
        padding-bottom: 15px;
        h2{
            @extend %h2;
        }
    }
    .row{
        border-bottom: 1px solid rgba(0,0,0,.125);
        border-top: 1px solid rgba(0,0,0,.125);
            padding-bottom: 15px;
            .card{
                border:0;
                h5{
                    font-family: nunito, sans-serif;
                    font-weight: 700;
                }
                .cardImg{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }
                span{
                    color:#009de0;
                    font-weight: 600;
                }
            }
    }
    .line{
        height: 1px;
        width: 100%;
        background-color: rgba(146, 146, 146, 0.397);
    }
    .card:hover .row{
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 5px;
    }
    .col-lg-4{
        h2{
            margin-top: 15px;
        }
    }
    .product{
        .modal-body{
            .card-title{
                @extend %h1;
                font-size: 30px;
            }
            span{
                color:$base-color;
                font-weight: 500;
            }
        }
        .modal-footer{
            .row{
                width: 100%;
                border: 0;
                button{
                    border: none;
                    position: relative;
                    z-index: 0;
                    display: inline-flex;
                    -webkit-box-align: center;
                    align-items: center;
                    justify-content: center;
                    font-size: 1rem;
                    font-weight: 700;
                    width: 100%;
                    max-width: 100%;
                    cursor: pointer;
                    padding: 0px 1rem;
                    min-height: 3.375rem;
                    border-radius: 0.5rem;
                    color: rgb(255, 255, 255);
                    i{
                        border-radius: 50%;
                        background-color: #fff;
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $base-color;
                        margin: 0 10px;
                    }
                }
                .pro-count{
                    background-color:#d0f0ff;
                    color:$base-color;
                }
                .add-basket{
                    background-color: $base-color;
                }
            }
        }
    }
}